:root {
  --orange-ish: #e8c572;
  --blue-ish: #459ad8;
  --white-ish: #fff;
  --grey-ish: #ebf0f5;
  --black-ish: #000;
  --yellow-ish: #edc655;
  --peach-ish: #fcffad;
  --red-ish: #f76414;
  --myFont: 400;
}

body {
  background-color: var(--orange-ish);
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--blue-ish);
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: var(--myFont);
}

h3 {
  font-size: 20px;
  font-weight: var(--myFont);
}

a {
  color: var(--white-ish);
}

a:hover,
a:focus {
  text-decoration: none;
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--grey-ish);
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000;
  transition: 0.5s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.6;
}

.button__secondary {
  background-color: var(--black-ish);
  color: var(--white-ish);
  display: inline;
  text-align: center;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 300px;
  height: auto;
  margin-right: 60px;
  border-radius: 50%;
}

.page-footer {
  flex-direction: column;
  clear: both;
  display: flex;
  text-align: center;
}

.page-header__item {
  flex: 0 1 100px;
  width: 200px;
  margin-left: 0;
}

.page-header__item:last-child {
  flex-grow: 1;
  width: 30px;
  text-align: right;
}

.page-header {
  flex-grow: 1;
  text-align: right;
  border-bottom: 1px solid;
  display: flex;
  width: 100%;
  padding: 20px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

* {
  box-sizing: border-box;
}

.button__main {
  display: inline;
  text-align: center;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list2 {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: lightgray;
    padding: 20px;
    width: auto;
    min-height: auto;
    margin: 15px;
  }

  .grid__item:last-child {
    grid-column: 3/3;
    grid-row: 1/3;
  }
}

.title {
  margin-left: 30px;
  text-align: center;
}

.textt {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

@media all and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 550px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--yellow-ish);
  }

  50% {
    fill: var(--peach-ish);
  }

  100% {
    fill: var(--red-ish);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
